<html>
<style>
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1 {
    color: teal;
  }

  h3 {
    color: lightseagreen;
    margin: 0;
  }

  h3:last-of-type {
    padding-bottom: 1rem;
  }

  img {
    width: 250px;
    height: 150px;
  }
</style>

<body>
  <div class="container">
    <h1>ITALIAN pizza</h1>
    <h3>Italian pizza ingredients: {{ .Ingredients }}</h3>
    <h3>Crust: {{ .Crust }}</h3>
    <img src="../assets/italian.jpg"
      alt="italian pizza" />
  </div>
</body>

</html>